*{
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    outline:none;
}

button{
    box-shadow:0px 0px 5px lightgrey;

}
button:active{
    box-shadow:none;
    opacity:.5;
}

.title{
    text-align: center;
    margin-block: 50px;
}

.input-container{
    margin: auto;
    text-align: center;
    width:70%;
}

.searchbar{
    text-align: center;
    float:left;
    width:80%;
}

.searchbar .inputbar{
    width:100%;
    font-size:18px;
    padding-block: 12px;
    padding-inline: 20px;
    border-radius: 10px;
    /* border: 1px solid rgb(15, 84, 148); */
    border: none;
    box-shadow: 0px 0px 5px lightgrey;
}

.searchbtn{
    width: 20%;
    float:left;
}

.searchbtn .btn{
    margin-left: 70px;
    width:80%;
    font-size:18px;
    padding-block:12px;
    border: none;
    color: #fff;
    background-color: black;
    border-radius: 10px;
}

.list-container {
    margin-top:140px;
    margin-inline: auto;
    width:70%;
}

.list-item-container{
    margin-inline: auto;
    width:100%;
}

.list-item-container *{
    margin-block: 10px;
    float:left;
}

.item-title{
    width:70%;
    box-shadow: 0px 0px 5px lightgrey;
    border-radius: 10px;
    padding-inline: 20px;
    padding-block: 5px;
}

.item-title h2{
    padding-block:0px;
    margin-block: 1px;
}

.item-check-btn, .item-dlt-btn, .item-undo-btn{
    width:8%;
    padding-inline:10px;
}

.item-check-btn button{
    background-color:darkcyan;
}

.item-undo-btn button{
    background-color:#ee6c4d;
}

.item-dlt-btn button{
    background-color:crimson;
}

.list-item-container button{
    width:100%;
    margin-inline:10px;
    margin-block: 0px;
    padding-inline:12px;
    padding-block:12px;
    border:none;
    border-radius: 10px;
    color: #fff;
}

.checked h2{
    color:grey;
    text-decoration:line-through;
}

.on-empty{
    text-align:center;
}